/* Whitepaper bullet lists */
.whitepaper-page .bullet-list {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 0.75rem 0;
}

.whitepaper-page .bullet-list li {
  margin-bottom: 0.5rem;
}

/* Reset only non-content lists */
.whitepaper-page ul:not(.bullet-list) {
  list-style: none;
  padding-left: 0;
}
