/* Whitepaper content lists (v-html safe) */
.whitepaper-page ul.bullet-list {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 0.75rem 0;
}

.whitepaper-page ul.bullet-list li {
  margin-bottom: 0.5rem;
}
